.container{
  margin: 0px 50px;
}

.header_cont{
    background-image: url(1624892231_21-phonoteka_org-p-tank-tigr-oboi-krasivo-35.jpg);
    height: 100vh;
    background-size: cover;
    opacity: 0.85;
  }

.header_line{
  padding: 1vh;
  display: flex;
  align-items: center;
}
.nav_item{
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;

  margin-right: 10%;
  margin-left: 30%;

}