.YandexAuth{
  border: 3px;
  border-radius: #ff9e1f 25px;
}
.BlockRegister{
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    min-height: 10em;
    vertical-align: middle;
    display: table;
    padding: 15%;
    background-color: #ffffff
  }
  
  .YandexImage{
    background-size: contain;
    max-width: 2em;
    min-height: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .LogoHeader{
    max-width: 24px;
    min-height: 24px;
  }
  
  .GoogleImage{
    background-size: contain;
    max-width: 24px;
    min-height: 24px;
  }